.input-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;

    padding-bottom: 8px;
}

.input-section-header {
    cursor:pointer;
    user-select: none;  

    width: 100%;
    display: flex;
    justify-content: center;
}

.input-section-header h1 {
    margin: 8px 0;
}