#result {
    flex: 35;
    background-color: white;

    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result > * {
    max-width: 100%;
    overflow: hidden;
}

hr {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    margin: 0;
}

.result-contacts {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

#result h1 {
    margin: 0;
}

.result-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
}

.result-section h3, .result-section h4 {
    margin: 0;
}

.result-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.result-section > * {
    padding: 0 16px;
}