#result {
    flex: 35;
    background-color: white;

    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;
}

#result > * {
    max-width: 100%;
    overflow: hidden;
}

hr {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    margin: 0;
}

.result-contacts {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

#result h1 {
    margin: 0;
}

.result-education-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
}

h4 {
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
}

.result-edu-uni {
    display: flex;
}

.result-experience-section {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
}

.result-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result-heading h1 {
    font-size: 1rem;
}

.result-section > * {
    padding: 0 16px;
}

.result-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
}

.result-general h1 {
    font-weight: 500;
}

.result-exp-place {
    display: flex;
    justify-content: space-between;
}

.result-experience-title {
    font-size: 1rem;
    font-weight: 400;
    margin-top: -8px;
}